[core]
	editor = vim
	excludesfile = ~/.gitignore
[user]
	name = Dmitry Kasimtsev
	email = kasyaar@gmail.com
[alias]
	br = branch
	st = status
	co = checkout
	ci = commit
	a = add
    l = log
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[init]
	defaultBranch = main
